$longButtonColor:#267dff;
$secondaryColor:#2067d3;
$unsecuredPageBackground: #e7e7e9;
$rightPanelBackground: #fcfcfc;
$commonWhite: #fff;
$commonBlack: #000;
$commonRed: #ff0000;
$commonGrey: #808080;
$tableBorderColor: #e0e0e0;
$snackbarErrorColor: #dc3545;
$inputBorderColor: #949393;

$cardBorderRadius: 30px;